:root {
  --primary: 208, 121, 59;
  --primary-light: 251, 214, 96;
  --primary-dark: 125, 58, 42;
  --background: 239, 233, 213;
  --body: 62, 60, 46;
}

.chat-container {
  position: fixed;
  width: 15%;
  height: 45%;
  right: 1%;
  bottom: 2%;
  z-index: 2301;
  overflow-y: scroll;
  background-color: rgb(var(--background), 0.7);
  color: rgb(var(--body));
  border: none;
  border-radius: 1em;
  border-bottom-right-radius: 2.4em;
  padding: 0 1em;
  font-size: 150%;
  resize: none;
}

.chat-container::before {
  color: rgb(var(--primary));
  height: 100px;
  border-radius: 1em 1em 0 0;
  background-color: rgb(var(--primary));
}

.chat-toggle {
  position: fixed;
  right: 1%; 
  bottom: 2%;
  border-radius: 50%;
  background-color: rgb(var(--background), 0.5);
  width: 70px;
  height: 70px;
  padding: 5px;
  object-fit: scale-down;
  z-index: 2302;
  cursor: pointer;
  box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.icon-steady {
  content: url(../icons/icon-1-steady.png);
}

.icon-loading {
  content: url(../icons/icon-1-loading.gif);
}

.icon-ready {
  content: url(../icons/icon-1-ready.png);
}

.icon-error {
  content: url(../icons/icon-1-error.png);
}