body {
  width: 350px;
  height: 400px;
  background-color: #2b2925d5;
  border-radius: 5px;
}

.settingsBox {
  width: 340px;
  height: 300px;
  border: 1px solid #000;
  border-color: #000000d5;
  border-radius: 2px;
  background-color: #716e68d5;
}

.tablink {
  float: left;
  width: 50%;
  font-weight: bold;
  border: none;
  border-top-left-radius: 5px;
  background: #fff;
  color: #665;
}
.tablink.active {
  background: rgba(255, 136, 136, 0.201);
  color: #fff;
}

.parameterName {
  font: 12px/22px Georgia, Garamond, Serif;
  color: rgba(255, 255, 255, 0.935);
}

.parameterValueDisplay {
  font: 12px/22px Georgia, Garamond, Serif;
  color: rgba(0, 0, 0, 0.935);
  width: 25px;
}

.columnContainer {
  width: 340px;
  position: relative;
  right: -10px;
}

.column {
  float: left;
  width: 33%;
}

.setting {
  scale: 0.8;
  height: 17px;
}

.shortSlider {
  width: 70%;
}

.promptSection {
  position: absolute;
  right: 40px;
  bottom: 90px;
}

.promptInput {
  width: 300px;
}

.keyInput {
  width: 300px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  border: 2px;
  border-color: black;
  border-radius: 2px;
}

.owlie {
  scale: 0.8;
  position: relative;
  left: 5px;
}

a{
  text-decoration: none;
}
.showKey {
  padding: 1px 2px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  box-shadow: 0 2px 2px 0 #131b13;
}

.showKey:active {
  transform: translateY(4px);
}

.txt {
  font-size: 15px;
  font: 12px/22px Georgia, Garamond, Serif;
  color: rgba(216, 201, 63, 0.935);
  position: relative;
  left: 10px;
  top: -30px;
}

#blockDiv {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

